:root{
    box-sizing: border-box;
    font-size: 20px;
    margin: 0;
    padding: 0;
    --blue: #1488CC;
    --darkblue: #363ff3;
}

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(-45deg, var(--blue), var(--darkblue));
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    color: white;
    font-family: 'Roboto Mono', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.container {
    max-width: 400px;
    background-color: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 30px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
    -webkit-box-shadow: 0px 0px 20px -2px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 20px -2px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 20px -2px rgba(66, 68, 90, 1);
}

button{
    border: none;
    background: none;
}

#display{
    font-size: 4rem;
    text-align: center;
    padding: 30px 0;
    background: none;
    border: none;
    cursor: text;
    width: 100%;
    font-family: 'Roboto Mono', monospace;  
    color: white;
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.buttons{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

/* Buttnos style */
.button {
    font-size: 2rem;
    color: white;
    padding: 5px;
    transition: transform .3s ease;
    transform: rotate(0);
}

.button:hover {
    cursor: pointer;
}

.button:first-child:hover {
    transform: translateY(-5px);
}

#reset:hover {
    animation: rotate .25s ease-out;
}

.button:last-child:hover {
    transform: translateY(5px);
}

.rotate {
    transform: rotate(180deg);
}

@keyframes rotate {
    from {transform: rotate(0);}
    to {transform: rotate(360deg);}
}


.neg-null-container{
    font-family: 'Lato', 'Sans-serif';
    display: flex;
    align-items: center;
    margin-top: 7px;
}

.negativ-num-flag {
    margin-top: 20px;
}

.negativ-num-flag:hover{
    -webkit-touch-callout: none; /* iOS Safari                           */
    -webkit-user-select: none; /* Safari                               */
    -khtml-user-select: none; /* Konqueror HTML                       */
    -moz-user-select: none; /* Firefox w przeszłości (stare wersje) */
    -ms-user-select: none; /* Internet Explorer (>=10) / Edge      */
    user-select: none;
    cursor: pointer;
}

#negativ-num-flag{
    width: 1rem;
    height: 1rem;
    margin-right: 5px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    transform: scale(0.8);
    margin-top: 20px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: var(--blue);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px var(--blue);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

.bg__image {
    width: 130vw;
    width: 130vh;
    position: absolute;
    top: -6vh;
    left: -8vw;
    opacity: 0.2;
    z-index: -1;
    transform: rotate(0deg);
    animation: rotate 60s linear infinite;
}

@keyframes rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}
