:root{
    box-sizing: border-box;
    font-size: 20px;
    margin: 0;
    padding: 0;
    --blue: #1488CC;
    --darkblue: #363ff3;
}

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: var(--blue);
    background: linear-gradient(to right top, var(--darkblue), var(--blue));
    color: white;
    font-family: 'Roboto Mono', monospace;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 400px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 30px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    -webkit-box-shadow: 0px 0px 20px -2px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 20px -2px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 20px -2px rgba(66, 68, 90, 1);
}

button{
    border: none;
    background: none;
}

#display{
    font-size: 4rem;
    text-align: center;
    padding: 30px 0;
    background: none;
    border: none;
    cursor: text;
    width: 100%;
    font-family: 'Roboto Mono', monospace;  
    color: white;
}


input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.buttons{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

/* Buttnos style */
.button {
    font-size: 2rem;
    color: white;
    padding: 5px;
    transition: transform .3s ease;
    transform: rotate(0);
}

.button:hover {
    cursor: pointer;
}

.button:first-child:hover {
    transform: translateY(-5px);
}

#reset:hover {
    animation: rotate .25s ease-out;
}

.button:last-child:hover {
    transform: translateY(5px);
}

.rotate {
    transform: rotate(180deg);
}

@keyframes rotate {
    from {transform: rotate(0);}
    to {transform: rotate(360deg);}
}


.neg-null-container{
    font-family: 'Lato', 'Sans-serif';
    display: flex;
    align-items: center;
    margin-top: 7px;
}

.negativ-num-flag:hover{
    -webkit-touch-callout: none; /* iOS Safari                           */
    -webkit-user-select: none; /* Safari                               */
    -khtml-user-select: none; /* Konqueror HTML                       */
    -moz-user-select: none; /* Firefox w przeszłości (stare wersje) */
    -ms-user-select: none; /* Internet Explorer (>=10) / Edge      */
    user-select: none;
    cursor: pointer;
}

#negativ-num-flag{
    width: 1rem;
    height: 1rem;
    margin-right: 5px;
}

footer{
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 1rem;
    border-radius: 15px;
    padding: 10px;
    font-weight: 500;
    font-family: 'Lato', 'Sans-serif';
}

footer p{
    margin: 5px auto;
}